.Home{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}

.FAQ{
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    text-align: center;
}

.car{
    margin-top: 100px;
    margin-bottom: 38px;
    background-image: url("../img/imron--car.png");
    background-repeat: no-repeat;
    background-size: 1340px 400px;
}

.Questions{
    width: 363px;
    height: 134px;
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    text-align: left;
    padding-bottom: 24px;
}

.paragraph{
    width: 363px;   
    height: 24px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    padding-bottom: 24px;
}

.text{
    padding: 77px 877px 76px 100px;
}

.container{
    padding-top: 56px;
}

.blocks1{
    width: 650px;
    height: Hug (64px)px;
    padding: 20px 26px 20px 26px;
    gap: 16px;
    border-radius: 10px;
    opacity: 0px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #222222;
    background: #F8F8F8;   
}

.title{
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: left;
    padding-bottom: 40px;
}

.blocks{
    display: grid;
    gap: 10px;
}

.FAQS{
    display: flex;
    gap: 40px;
    padding-top: 100px;
}

.block{
    display: grid;
    gap: 80px;
}

.special{
    width: Fixed (650px)px;
    height: Hug (112px)px;
    padding: 20px 26px 20px 26px;
    gap: 16px;
    border-radius: 10px;
    opacity: 0px;
    background: #FD3B3B;
}

.paragraph2{
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: white;
}

.paragraph3{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    padding-top: 16px;
    color: white;
}

.FAQ{
    margin-bottom: 56px;
    margin-top: 46px;
}